.frowneysmiley {
  font-size: 30pt;
  position: relative;
  float: left;
  color: white;
  background-color: black;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 20px;
  margin: 10px;
}

.frowneysmiley.smiley {
  background-color: green;
}
