.holder {
  position: relative;
  float:left;
  height:100%;
  width: 70%;
}

#counter {
 float: right;
}

.frowneysmiley {
  font-size: 30pt;
  overflow: auto;
  float: left;
  color: white;
  background-color: black;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  transition: 5s, transform 1s;
  transform: rotate(90deg);
}

.frowneysmiley.smiley1 {
  background-color: green;
  transform: rotate(270deg);
}

.frowneysmiley.smiley2 {
  background-color: yellow;
  color: black;
  transform: rotate(270deg);
}

.frowneysmiley.smiley3 {
  background-color: blue;
  transform: rotate(-90deg);
}

.frowneysmiley.smiley4 {
  background-color: pink;
  transform: rotate(-90deg);
  color: black;
}
