.frowneysmiley {
  font-size: 30pt;
  position: relative;
  float: left;
  color: white;
  background-color: black;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 20px;
  margin: 10px;
  transition: 5s;
  transform: rotate(90deg);
}

.frowneysmiley.smiley1 {
  background-color: green;
  transition: 5s;
}

.frowneysmiley.smiley2 {
  background-color: yellow;
  color: black;
  transition: 5s;
}

.frowneysmiley.smiley3 {
  background-color: blue;
  transition: 5s;
}
