header {
  background-color: gray;
  background-image: url("thing.PNG");
  background-repeat: no-repeat;
  background-size: auto;
}

body {
  background-color: gray;
}

ul {
  list-style-type: none;
  border: 1px solid;
  margin: 0;
  padding: 0;
  width: 200px;
  left: 0;
}

li a {
  display: block;
  border-bottom: 1px solid;
  text-align: right;
  text-decoration: none;
  padding: 8px 16px;
}

li a:hover {
  color: white;
  background-color: green;
}

