#box1 {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: rotating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rotating {
  from {background-color: red;}
  to {background-color: yellow;}
}
