/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

ul {
  list-style-type: none;
  border: 1px solid;
  margin: 0;
  padding: 0;
  width: 200px;
}

li {
  display: block;
  border-bottom: 1px solid;
  text-align: center;
  text-decoration: none;
}
/*
li a:hover {
  color: white;
  background-color: green;
}
*/
